html {
    height: 100%;
    margin: 0;
}

body {
    background-color: rgb(61, 61, 75);
    height: 100%;
    margin: 0;
}

.container {
    height: 100%;
    display: flex;
    flex-flow: column;
    margin: 0;
}

.header {
    background-color: rgb(75, 201, 173);
    height: 70px;
    display: flex;
    flex-flow: row;
}

.header-title {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 36px;

    margin-top: 10px;
    margin-left: 20px;
}

.header .share {
    margin-left: auto;
    margin-right: 7%;
}

.header .share button {
    background-color: rgb(75, 201, 173);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    font-weight: bold;

    border-width: 0;
    outline: 0;

    height: 100%;
    width: 90px;
}

.header .share button:hover {
    box-shadow: 0 0px 9px 0 rgb(61, 61, 75);
}

.header .share button:active {
    box-shadow: inset 0 0px 9px 0 rgb(61, 61, 75);
}


.header .language-input {
    margin-left: auto;
    margin-right: 10px;
}

.header .language-input input {
    width: 100px;
}

.header .language-input button {
    background-color: rgb(75, 201, 173);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;

    margin-left: 5px;
    border-width: 0;
    outline: 0;

    height: 100%;
    width: 60px;
}

.header .language-input button:hover {
    box-shadow: 0 0px 9px 0 rgb(61, 61, 75);
}

.header .language-input button:active {
    box-shadow: inset 0 0px 9px 0 rgb(61, 61, 75);
}


.code-area {
    flex-grow: 2;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    box-shadow: 3px 15px 20px #000000;
}

.code-area .text {
    background-color: rgb(52, 52, 70);
    color: lightgray;
    font-family: monospace;
    font-size: 16px;
    width: 100%;
    height: 100%;
    border-width: 0;
    padding-left: 5px;
    padding-top: 10px;
    resize: none;    
    white-space: pre;
}
    